@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-enter-active,
.popup-leave-active {
  transition: height 0.1s ease;
  height: 90%;
}

.popup-enter-from,
.popup-leave-to {
  height: 0;
}

@layer components {
    .key{
        @apply border-knowit-black border-opacity-20 dark:border-knowit-white dark:border-opacity-20;
    }
    .correct {
        @apply bg-blue-80 border-blue-80 text-knowit-white;
    }
    .wrongplace {
        @apply bg-pink-100 border-pink-100 text-knowit-black;
    }
    .notused {
        @apply bg-gray border-gray text-knowit-white;
    }
    .filledin {
        @apply border-knowit-black border-opacity-40 dark:border-knowit-white dark:border-opacity-40;
    }
    .statbox {
        @apply bg-knowit-white dark:bg-blue-100 rounded-3xl px-5 py-4;
    }
    .greenstar {
        @apply self-center mr-2 text-green;
    }
    .popuptext{
        @apply absolute mx-auto left-0 right-0 bottom-0 w-full max-w-md;
    }
}
